*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*isso faz o box-sizing do body ser herdado*/
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #1f3756;
  font-family: "Barlow Semi Condensed", sans-serif; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  75% {
    opacity: 1;
    transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  75% {
    opacity: 1;
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 400px) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }
  @media only screen and (max-width: 400px) {
    .u-margin-bottom-big {
      margin-bottom: 2rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.coin {
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer; }
  .coin:hover {
    transform: scale(1.2) rotate(25deg); }
  .coin__action {
    width: 15rem;
    height: 15rem;
    z-index: 2000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; }
    @media only screen and (max-width: 600px) {
      .coin__action {
        width: 11rem;
        height: 11rem; } }
  .coin--blue {
    background-image: linear-gradient(to bottom, #4865f4, #5671f5);
    box-shadow: 0px 7px 1px 0px #2f4195; }
  .coin--red {
    background-image: linear-gradient(to bottom, #dc2e4e, #dd405d);
    box-shadow: 0px 7px 1px 0px #911c39; }
  .coin--yellow {
    background-image: linear-gradient(to bottom, #ec9e0e, #eca922);
    box-shadow: 0px 7px 1px 0px #c27026; }
  .coin--purple {
    background-image: linear-gradient(to bottom, #834fe3, #8c5de5);
    box-shadow: 0px 7px 1px 0px #5c3ca1; }
  .coin--cyan {
    background-image: linear-gradient(to bottom, #40b9ce, #52bed1);
    box-shadow: 0px 7px 1px 0px #467f9a; }
  .coin--center {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }
    .coin--center:hover {
      transform: translateX(-50%) scale(1.2) rotate(25deg); }
  .coin--leftTop {
    position: absolute;
    left: 0;
    top: 27%; }
  .coin--leftBottom {
    position: absolute;
    left: 10%;
    bottom: 0; }
  .coin--rightTop {
    position: absolute;
    right: 0;
    top: 27%; }
  .coin--rightBottom {
    position: absolute;
    right: 10%;
    bottom: 0; }
  .coin__background {
    width: 11rem;
    height: 11rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 5px 1px 0px rgba(96, 110, 133, 0.3);
    z-index: 100; }
  .coin--game {
    transform: scale(1.5); }
    .coin--game:hover {
      transform: scale(1.5) rotate(25deg); }
  @media only screen and (max-width: 600px) {
    .coin {
      width: 11rem;
      height: 11rem; }
      .coin__background {
        width: 8rem;
        height: 8rem; }
      .coin__image {
        width: 60%; } }
  @media only screen and (max-width: 400px) {
    .coin {
      width: 10rem;
      height: 10rem; }
      .coin__background {
        width: 7rem;
        height: 7rem; }
      .coin__image {
        width: 50%; } }

.header {
  margin: 0 auto;
  border: 3px solid #606e85;
  max-width: 80rem;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  animation: slideDown 1s;
  backface-visibility: hidden; }
  @media only screen and (max-width: 600px) {
    .header {
      margin: 0 1.5rem; } }
  .header__box {
    background-color: #ffffff;
    width: 17rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem; }
    @media only screen and (max-width: 600px) {
      .header__box {
        width: 14rem; } }
  .header__text {
    color: #4865f4;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3rem; }
    @media only screen and (max-width: 600px) {
      .header__text {
        font-size: 1.8rem; } }
  .header__score {
    font-size: 6rem;
    font-weight: 700;
    color: #3b4363; }
    @media only screen and (max-width: 600px) {
      .header__score {
        font-size: 5.5rem; } }

.mainButton {
  border: none;
  background-color: #ffffff;
  font-family: inherit;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 5rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #3b4363;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  animation: fadeIn 0.3s; }
  @media only screen and (max-width: 400px) {
    .mainButton {
      padding: 0.5rem 3rem;
      font-size: 1.8rem; } }
  .mainButton::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 1rem;
    transition: all 0.3s;
    backface-visibility: hidden; }
  .mainButton:hover {
    transform: translate(-50%, 1px); }
    .mainButton:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .mainButton--relative {
    position: relative;
    font-size: 1.6rem; }

.ruleButton {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 2.2rem;
  font-family: inherit;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 1rem 4rem;
  border-radius: 1.2rem;
  transition: all 0.3s;
  font-weight: 600;
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: 5rem; }
  .ruleButton:hover {
    background-color: #ffffff;
    color: #3b4363; }
  @media only screen and (max-width: 600px) {
    .ruleButton {
      bottom: 1rem;
      right: 1rem;
      font-size: 1.8rem;
      padding: 0.5rem 2rem;
      border-radius: 0.7rem; } }

.game {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 600px) {
    .game {
      flex-wrap: wrap;
      margin: 0 1.5rem; } }
  .game__control {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      .game__control {
        width: 50%; } }
  .game__title {
    color: #ffffff;
    font-family: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .game__title {
        font-size: 2rem; } }
    @media only screen and (max-width: 400px) {
      .game__title {
        font-size: 1.5rem; } }
  .game__coinArea {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 600px) {
      .game__coinArea {
        width: 15rem;
        height: 15rem; } }
  .game__resultBox {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 600px) {
      .game__resultBox {
        margin-top: 4rem;
        width: 100%;
        order: 3; } }
  .game__resultTitle {
    color: #ffffff;
    letter-spacing: 0.1rem;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center; }

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__container {
    transform: translate(-50%, -50%) scale(1.1); }
    @media only screen and (max-width: 600px) {
      .popup:target .popup__container {
        transform: translate(-50%, -50%); } }
  .popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 1500;
    padding: 4rem;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.3s 0.1s; }
    @media only screen and (max-width: 400px) {
      .popup__container {
        padding: 1rem; } }
  .popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .popup__header--center {
      justify-content: center; }
  .popup__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #3b4363; }

.pageBackground {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(#1f3756, #141539);
  padding-top: 4rem;
  position: relative; }
  .pageBackground__container {
    position: relative; }

.coinPentagram {
  margin: 0 auto;
  max-width: 144rem;
  animation: slideUp 1s; }
  .coinPentagram__background {
    background-image: url("../../assets/bg-pentagon.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 47rem;
    height: 50rem;
    margin: 0 auto; }
  @media only screen and (max-width: 600px) {
    .coinPentagram__background {
      width: 37rem;
      height: 40rem; } }
  @media only screen and (max-width: 400px) {
    .coinPentagram__background {
      width: 35rem;
      height: 35rem; } }
