//Colors

$yellow-primary: hsl(39, 89%, 49%);
$yellow-secondary: hsl(40, 84%, 53%);
$yellow-terciary: #c27026;

$blue-primary: hsl(230, 89%, 62%);
$blue-secondary: hsl(230, 89%, 65%);
$blue-terciary: #2f4195;

$red-primary: hsl(349, 71%, 52%);
$red-secondary: hsl(349, 70%, 56%);
$red-terciary: #911c39;

$purple-primary: hsl(261, 73%, 60%);
$purple-secondary: hsl(261, 72%, 63%);
$purple-terciary: #5c3ca1;

$cyan-primary: hsl(189, 59%, 53%);
$cyan-secondary: hsl(189, 58%, 57%);
$cyan-terciary: #467f9a;

$dark-gray: hsl(229, 25%, 31%);
$light-gray: hsl(217, 16%, 45%);
$dark-blue: hsl(229, 64%, 46%);
$white: #ffffff;
$black: #000000;

$deep-blue-primary: hsl(214, 47%, 23%);
$deep-blue-secondary: hsl(237, 49%, 15%);

//FONTS

$family: "Barlow Semi Condensed", sans-serif;

$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;
