.coin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;

  //colors
  &--blue {
    background-image: linear-gradient(
      to bottom,
      $blue-primary,
      $blue-secondary
    );
    box-shadow: 0px 7px 1px 0px $blue-terciary;
  }

  &--red {
    background-image: linear-gradient(to bottom, $red-primary, $red-secondary);
    box-shadow: 0px 7px 1px 0px $red-terciary;
  }

  &--yellow {
    background-image: linear-gradient(
      to bottom,
      $yellow-primary,
      $yellow-secondary
    );
    box-shadow: 0px 7px 1px 0px $yellow-terciary;
  }

  &--purple {
    background-image: linear-gradient(
      to bottom,
      $purple-primary,
      $purple-secondary
    );
    box-shadow: 0px 7px 1px 0px $purple-terciary;
  }

  &--cyan {
    background-image: linear-gradient(
      to bottom,
      $cyan-primary,
      $cyan-secondary
    );
    box-shadow: 0px 7px 1px 0px $cyan-terciary;
  }

  //position
  &--center {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  &--leftTop {
    position: absolute;
    left: 0;
    top: 27%;
  }

  &--leftBottom {
    position: absolute;
    left: 10%;
    bottom: 0;
  }

  &--rightTop {
    position: absolute;
    right: 0;
    top: 27%;
  }

  &--rightBottom {
    position: absolute;
    right: 10%;
    bottom: 0;
  }

  &__background {
    width: 11rem;
    height: 11rem;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 5px 1px 0px rgba($light-gray, 0.3);

    z-index: 100;
  }
}
