.coin {
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2) rotate(25deg);
  }

  &__action {
    width: 15rem;
    height: 15rem;
    z-index: 2000;
    @include absoluteCenter;
    border-radius: 50%;

    @include responsive(tab-port) {
      width: 11rem;
      height: 11rem;
    }
  }

  //colors
  &--blue {
    background-image: linear-gradient(
      to bottom,
      $blue-primary,
      $blue-secondary
    );
    box-shadow: 0px 7px 1px 0px $blue-terciary;
  }

  &--red {
    background-image: linear-gradient(to bottom, $red-primary, $red-secondary);
    box-shadow: 0px 7px 1px 0px $red-terciary;
  }

  &--yellow {
    background-image: linear-gradient(
      to bottom,
      $yellow-primary,
      $yellow-secondary
    );
    box-shadow: 0px 7px 1px 0px $yellow-terciary;
  }

  &--purple {
    background-image: linear-gradient(
      to bottom,
      $purple-primary,
      $purple-secondary
    );
    box-shadow: 0px 7px 1px 0px $purple-terciary;
  }

  &--cyan {
    background-image: linear-gradient(
      to bottom,
      $cyan-primary,
      $cyan-secondary
    );
    box-shadow: 0px 7px 1px 0px $cyan-terciary;
  }

  //position
  &--center {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    &:hover {
      transform: translateX(-50%) scale(1.2) rotate(25deg);
    }
  }

  &--leftTop {
    position: absolute;
    left: 0;
    top: 27%;
  }

  &--leftBottom {
    position: absolute;
    left: 10%;
    bottom: 0;
  }

  &--rightTop {
    position: absolute;
    right: 0;
    top: 27%;
  }

  &--rightBottom {
    position: absolute;
    right: 10%;
    bottom: 0;
  }

  &__background {
    width: 11rem;
    height: 11rem;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 5px 1px 0px rgba($light-gray, 0.3);

    z-index: 100;
  }

  //game modify

  &--game {
    transform: scale(1.5);

    &:hover {
      transform: scale(1.5) rotate(25deg);
    }
  }

  @include responsive(tab-port) {
    width: 11rem;
    height: 11rem;

    &__background {
      width: 8rem;
      height: 8rem;
    }

    &__image {
      width: 60%;
    }
  }

  @include responsive(phone) {
    width: 10rem;
    height: 10rem;

    &__background {
      width: 7rem;
      height: 7rem;
    }

    &__image {
      width: 50%;
    }
  }
}
