.coin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(to bottom, $blue-primary, $blue-secondary);
  border-radius: 50%;
  box-shadow: 0px 7px 1px 0px $blue-terciary;

  &__background {
    width: 11rem;
    height: 11rem;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 5px 1px 0px rgba($light-gray, 0.3);

    z-index: 100;
  }
}
