.game {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__control {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $white;
    font-family: $weight-normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
  }

  &__coinArea {
    background-color: rgba($black, 0.1);
    box-shadow: inset 0 0 5px rgba($black, 0.1);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__resultBox {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__resultTitle {
    color: $white;
    letter-spacing: 0.1rem;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
  }
}
