.popup {
  background-color: rgba($black, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__container {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &__container {
    @include absoluteCenter;
    background-color: $white;
    z-index: 1500;
    padding: 4rem;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.3s 0.1s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: $dark-gray;
  }
}
